<div class="content-ctnr">
    @if (card$ | async; as card) { 
        <div class="card-bio-ctnr">
            <div class="card-bio-head">
                <div class="card-bio-id">
                    <div class="card-title">
                        <img [src]="card.cardImage">
                        <div class="card-title-txt">
                            <h2>{{card.cardName}}</h2>
                            <h3>American Express</h3>
                        </div>
                    </div>
                    
                    <div class="card-btns">
                        <button 
                            class="btn btn-sm btn-save"
                            [routerLink]="['/edit-card', card.id]"
                        >Edit</button>
                        <button class="btn btn-sm">Delete</button>
                    </div>
                </div>
                <div class="card-info">
                    <div class="card-info-row">
                        <p>Annual Fee</p>
                        <p>{{currencyFormatterND.format(card.annualFee)}} / {{card.annualFeeDate}}</p>
                    </div>
                    <div class="card-info-row">
                        <p>Statement Date</p>
                        <p>{{card.statementDate}}</p>
                    </div>
                    <div class="card-info-row">
                        <p>Payment Date</p>
                        <p>{{card.paymentDate}}</p>
                    </div>
                    <div class="card-info-row">
                        <p>Due Date</p>
                        <p>{{card.dueDate}}</p>
                    </div>
                </div>
            </div>
        </div>

        @if (card.creditLimit != 0) {
            <div class="card-bio-ctnr">
                <div class="card-limit-ctnr">
                    <div class="card-summary-ctnr">
                        <div class="card-summary">
                            <p>Target Spend (30%)</p>
                            <p>≤ {{currencyFormatter.format(card.creditLimit * .3)}}</p>
                        </div>
                        <div class="card-summary">
                            <p>Credit Limit</p>
                            <p>{{currencyFormatter.format(card.creditLimit)}}</p>
                        </div>
                    </div>
                    <div class="credit-bar">
                        <div class="target-bar"></div>
                    </div>
                    <p>Renews in {{daysUntilTarget(dayOfMonth, targetDate)}} days</p>
                </div>
            </div>
        }
    }
</div>