.card-bio-ctnr {
    display: flex;
    flex-direction: column;
    background-color: var(--fourth);
    width: 85%;
    gap: 2rem;
    border-radius: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

.card-bio-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bio-id {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
        width: 12rem;
        box-shadow: 0 0 1rem rgba(255, 255, 255, .25);
    }
}
.card-title:hover {
    background: var(--second);
    border-radius: .5rem;
    cursor: pointer;
}

.card-title-txt {
    display: flex;
    flex-direction: column;

    h3 { color: var(--text-grey); }
}

.card-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 20%;
}
.card-info-row {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid rgba(128, 128, 128, .25);
    padding: .5rem 0;

    p { 
        font-size: 1.5rem;
        flex: 1; 
    }
    p:first-child {
        opacity: .5;
    }
    p:nth-child(2) {
        display: flex;
        justify-content: right;
    }
}
.card-info-row:last-child { border: none; }

.card-tags {
    p {
        font-size: 1.5rem;
        background: var(--second);
        color: var(--accent);
        padding: .25rem 1rem;
        border-radius: .5rem;
        font-weight: 600;
    }
}

/* Credit limit stuff */
.card-limit-ctnr {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p { font-size: 1.5rem; }
}
.credit-bar {
    background: var(--text-grey);
    width: 100%;
    height: 1rem;
    border-radius: 2rem;
}
.target-bar {
    background: var(--accent);
    width: 30%;
    height: 100%;
    border-radius: 2rem;
}

.card-summary-ctnr {
    display: flex;
    justify-content: space-between;
}

.card-summary {
    display: flex;
    flex-direction: column;

    p:first-child {
        color: var(--text-grey);
        font-size: 1.5rem;
    }
    p:last-child { font-size: 3.5rem; }
}