/* STYLESHEET FOR FORM ELEMENTS */

.form-ctnr {
    display: flex;
    background-color: var(--fourth);
    width: 85%;
    gap: 2rem;
    border-radius: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-inputs {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}

.input-ctnr {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    p {
        font-size: 1.5rem;
        color: var(--text-grey);
    }

    input, select {
        font-family: "Poppins-Regular";
        font-size: 2rem;
        background: var(--third);
        color: #fff;
        border: 1.5px solid var(--text-grey);
        border-radius: 1rem;
        padding: .5rem 1rem;
    }
    
    option { color: white; }
    option:first-child { color: grey; }
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 2rem;
    gap: 1rem;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}