<div class="content-ctnr">
    <div class="page-title">
        <ng-container *ngIf="expenseId; else addExpense">
            <img src="assets/icons/pencil-black.svg" draggable="false">
            <h1>Edit Expense</h1>
        </ng-container>
        <ng-template #addExpense>
            <img src="assets/icons/new-page-black.svg" draggable="false">
            <h1>Add Expense</h1>
        </ng-template>
    </div>

    <div class="edit-expense-ctnr">
        <form [formGroup]="editExpenseForm" (ngSubmit)="updateExpense()">
            <div class="form-inputs">
                <!-- Icon input -->
                <div class="input-ctnr icon-input-ctnr">
                    <p>Icon</p>
                    <div class="custom-dropdown">
                        <div class="selected-option" (click)="toggleDropdown()">
                            <img [src]="editExpenseForm.get('icon')?.value" alt="Selected Icon" draggable="false">
                        </div>
                        <div class="options" *ngIf="dropdownOpen">
                            <p>Finance</p>
                            <div class="options-category">
                                <div 
                                    *ngFor="let icon of iconsFinance"
                                    class="option"
                                    [title]="icon.name"
                                    (click)="selectIcon(icon)"
                                >
                                    <img [src]="icon.path" [alt]="icon.name" draggable="false">
                                </div>
                            </div>
                            <p>Home/Personal</p>
                            <div class="options-category">
                                <div 
                                    *ngFor="let icon of iconsPersonal"
                                    class="option"
                                    [title]="icon.name"
                                    (click)="selectIcon(icon)"
                                >
                                    <img [src]="icon.path" [alt]="icon.name" draggable="false">
                                </div>
                            </div>
                            <p>Entertainment</p>
                            <div class="options-category">
                                <div 
                                    *ngFor="let icon of iconsEntertainment"
                                    class="option"
                                    [title]="icon.name"
                                    (click)="selectIcon(icon)"
                                >
                                    <img [src]="icon.path" [alt]="icon.name" draggable="false">
                                </div>
                            </div>
                            <p>Tech</p>
                            <div class="options-category">
                                <div 
                                    *ngFor="let icon of iconsTech"
                                    class="option"
                                    [title]="icon.name"
                                    (click)="selectIcon(icon)"
                                >
                                    <img [src]="icon.path" [alt]="icon.name" draggable="false">
                                </div>
                            </div>
                            <p>Other</p>
                            <div class="options-category">
                                <div 
                                    *ngFor="let icon of iconsOther"
                                    class="option"
                                    [title]="icon.name"
                                    (click)="selectIcon(icon)"
                                >
                                    <img [src]="icon.path" [alt]="icon.name" draggable="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Name input -->
                <div class="input-ctnr">
                    <p>Name</p>
                    <input type="text" formControlName="name" placeholder="Ex:   Rent, Netflix, ...">
                </div>
                <!-- Type input -->
                <div class="input-ctnr">
                    <p>Type</p>
                    <select formControlName="type" [ngStyle]="editExpenseForm.value.type == '' ? {'color': 'grey'} : {'color': 'white'}">
                        <option value="" selected disabled>Select Monthly or Yearly...</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
            </div>
            <div class="form-inputs">
                <!-- Cost input -->
                <div class="input-ctnr">
                    <p>Cost</p>
                    <input type="text" formControlName="cost">
                </div>
                <!-- Payment Date input -->
                <div class="input-ctnr">
                    <p>Payment Date</p>
                    <input type="text" formControlName="paymentDate" placeholder="Ex:   8th, Nov 2, ...">
                </div>
                <!-- Category input -->
                <div class="input-ctnr">
                    <p>Category</p>
                    <select formControlName="category" [ngStyle]="editExpenseForm.value.category == '' ? {'color': 'grey'} : {'color': 'white'}">
                        <option value="" selected disabled>Select a Category...</option>
                        <option value="Housing & Utilities">Housing & Utilities</option>
                        <option value="Car & Transportation">Car & Transportation</option>
                        <option value="Food & Dining">Food & Dining</option>
                        <option value="Health & Wellness">Health & Wellness</option>
                        <option value="Insurance">Insurance</option>
                        <option value="Debt & Savings">Debt & Savings</option>
                        <option value="Personal & Family Care">Personal & Family Care</option>
                        <option value="Entertainment & Recreation">Entertainment & Recreation</option>
                        <option value="Miscellaneous & Other">Miscellaneous & Other</option>
                    </select>
                </div>
            </div>
            
            <div class="form-btns">
                <button
                    type="button"
                    class="btn btn-lg"
                    routerLink="/dashboard"
                >Cancel</button>
                <button
                    type="submit"
                    class="btn btn-lg btn-color"
                >Save</button>
            </div>
        </form>
    </div>
</div>