.edit-expense-ctnr {
    display: flex;
    background-color: var(--fourth);
    width: 85%;
    gap: 2rem;
    border-radius: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-inputs {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}

.input-ctnr {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    p {
        font-size: 1.5rem;
        color: var(--text-grey);
    }
    input, select {
        font-family: "Poppins-Regular";
        font-size: 2rem;
        background: var(--third);
        color: #fff;
        border: 1.5px solid var(--text-grey);
        border-radius: 1rem;
        padding: .5rem 1rem;
    }
    option { color: white; }
    option:first-child { color: grey; }
}
/* .icon-input-ctnr { max-width: fit-content; } */

.form-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}


/* Custom icon dropdown */
.custom-dropdown {
    position: relative;
    width: 100%;
}

.selected-option {
    display: flex;
    align-items: center;
    background: var(--third);
    border: 1.5px solid var(--text-grey);
    border-radius: 1rem;
    padding: .75rem 1rem;
    /* max-width: fit-content; */
    cursor: pointer;

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.options {
    /* width: 800%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    top: 100%;
    left: 0;
    right: 0;
    border: 1.5px solid rgb(65, 65, 65);
    border-radius: 1rem;
    background: var(--third);
    z-index: 10;
}

.options-category {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1rem;
}
.options-category:last-child { margin-bottom: 0; }

.option {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
.option:hover { background: var(--second); }