<div class="content-ctnr">
    <h1>Add/Edit Expense</h1>

    <div class="edit-expense-ctnr">
        <form>
            <div class="form-inputs">
                <div class="input-ctnr">
                    <p>Icon</p>
                    <select name="icon-select">
                        <option value="defaultIcon">Default</option>
                        <option value="homeIcon">Home</option>
                        <option value="carIcon">Car</option>
                        <option value="cardIcon">Card</option>
                        <option value="gameIcon">Game</option>
                    </select>
                </div>
                <div class="input-ctnr">
                    <p>Name</p>
                    <input type="text">
                </div>
                <div class="input-ctnr">
                    <p>Type</p>
                    <select name="type-select">
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
                <div class="input-ctnr">
                    <p>Cost</p>
                    <input type="text">
                </div>
                <div class="input-ctnr">
                    <p>Payment Date</p>
                    <input type="text">
                </div>
            </div>
            <div class="form-btns">
                <button type="button" class="btn btn-lg" routerLink="/">Cancel</button>
                <button type="button" class="btn btn-lg btn-color">Save</button>
            </div>
        </form>
    </div>
</div>