/* Custom icon dropdown */
.custom-dropdown {
    position: relative;
    width: 100%;
}

.selected-option-icon {
    display: flex;
    align-items: center;
    background: var(--third);
    border: 1.5px solid var(--text-grey);
    border-radius: 1rem;
    padding: .75rem 1rem;
    /* max-width: fit-content; */
    cursor: pointer;

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
}
.selected-option-text {
    display: flex;
    align-items: center;
    background: var(--third);
    min-height: 3rem;
    border: 1.5px solid var(--text-grey);
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;

    p {
        font-size: 2rem;
        color: var(--text-white);
    }
}

.options {
    /* width: 800%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    top: 100%;
    left: 0;
    right: 0;
    border: 1.5px solid rgb(65, 65, 65);
    border-radius: 1rem;
    background: var(--third);
    z-index: 10;
}

.options-category {
    display: flex;
    
    flex-flow: wrap;
    margin-bottom: 1rem;
}
.options-category:last-child { margin-bottom: 0; }
.spaced-evenly { justify-content: space-evenly; }

.option {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    img {
        width: 2.5rem;
        height: 2.5rem;
    }
    p { color: var(--text-white); }
}
.option:hover { background: var(--second); }

/* .icon-input-ctnr { max-width: fit-content; } */