.profile-ctnr {
    display: flex;
    flex-direction: column;
    background-color: var(--fourth);
    width: 85%;
    gap: 2rem;
    border-radius: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

.profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background: var(--third);

    img {
        width: 5rem;
        height: 5rem;
        opacity: .5;
    }
}

.namecard {
    display: flex;
    flex-direction: column;

    h2 { font-size: 3rem; }
    p { color: var(--text-grey); }
}

.profile-stat {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--second);
    padding: .5rem 1rem;
    border-radius: 1rem;

    p {
        color: var(--text-grey);
        font-size: 1.5rem;
    }
    p:nth-child(2) { color: var(--text-white); }
}