<div class="content-ctnr">
    @if (currentUser != null) {
        <!-- Profile card -->
        <div class="profile-ctnr">
            <div class="profile-row">
                <span>
                    <div class="img-placeholder">
                        <img src="assets/icons/nav-icons/user.svg" draggable="false">
                    </div>
                    <br>
                    <div class="namecard">
                        <h2>{{ currentUser.firstName + " " + currentUser.lastName }}</h2>
                        <p>&#64;{{ currentUser.username }}</p>
                    </div>
                </span>
                <span>
                    <button type="button" class="btn btn-icon" routerLink="/edit-profile">
                        <img src="assets/icons/pencil-black.svg" draggable="false">
                    </button>
                </span>
            </div>
            <div class="profile-row">
                <span>
                    <div class="profile-stat">
                        <p>Member Since:</p>
                        <p>{{ this.joinMonthStr + " " + profileDateJoined.getFullYear() }}</p>
                    </div>
                    <div class="profile-stat">
                        <p>Income:</p>
                        <p>{{ currencyFormatter.format(currentUser.income) }}</p>
                    </div>
                </span>
                <span>
                    <button
                        type="button"
                        class="btn btn-lg"
                    >Reset Password</button>
                    <button
                        type="button"
                        class="btn btn-lg btn-danger"
                        (click)="signOut()"
                    >Sign Out</button>
                </span>
            </div>
        </div>

        <!-- Theme card -->
        <div class="profile-ctnr">
            Theme
            <div class="colors">
                <span class="color-dot" id="theme1"></span>
                <span class="color-dot" id="theme2"></span>
                <span class="color-dot" id="theme3"></span>
            </div>
        </div>
    }

    @else {
        <div class="profile-ctnr">
            <p>Loading...</p>
        </div>
    }
</div>