<div class="nav-ctnr">
    <div class="nav-hdr">
        <img src="assets/icons/expense-icons/usd-circle.svg">
        <h2>ExpensePro.</h2>
    </div>
    
    <button class="nav-btn" routerLink="/dashboard" routerLinkActive="active-link">
        <img src="assets/icons/nav-icons/dashboard.svg" draggable="false">
        <p>Dashboard</p>
    </button>
    <button class="nav-btn" routerLink="/analysis" routerLinkActive="active-link">
        <img src="assets/icons/nav-icons/pie-chart-dollar.svg" draggable="false">
        <p>Analysis</p>
    </button>
    <!-- <button class="nav-btn" routerLink="/edit-expense" routerLinkActive="active-link">
        <img src="assets/icons/add.svg" draggable="false">
        <p>Add Expense</p>
    </button> -->
    <button class="nav-btn" routerLink="/cards" routerLinkActive="active-link">
        <img src="assets/icons/expense-icons/credit-card.svg" draggable="false">
        <p>Payments</p>
    </button>
    <button class="nav-btn"routerLink="/profile" routerLinkActive="active-link">
        <img src="assets/icons/nav-icons/user.svg" draggable="false">
        <p>My Profile</p>
    </button>
    <button class="nav-btn"routerLink="/help" routerLinkActive="active-link">
        <img src="assets/icons/nav-icons/help.svg" draggable="false">
        <p>Help</p>
    </button>
</div>