<div class="content-ctnr">
    @if (expenseListLength !== 0) {
        <!-- Expense Summary -->
        <app-expense-tables
            [showSummary]="false"
            [showIncomeVsExpenses]="true"
            [showExpenseList]="false"
            [showUpcomingList]="false"
        ></app-expense-tables>

        <!-- Pie Charts -->
        <div class="analysis-ctnr">
            <div class="analysis-hdr">
                <h2>Expense Distribution</h2>
            </div>
            <div class="pie-chart-ctnr">
                <div class="pie-chart" [chart]="categoryPieChart"></div>
                <div class="pie-chart" [chart]="costPieChart"></div>
            </div>
        </div>

        <!-- Highest and Lowest -->
        <div class="high-low-ctnr">
            <div class="expense-ctnr">
                <p>Highest Expense</p>
                <div class="expense">
                    <img [src]="highestExpensePerMonth.icon" draggable="false">
                    <p>{{highestExpensePerMonth.name}}&nbsp;&nbsp;=&nbsp;&nbsp;{{currencyFormatter.format(highestExpenseCostPerMonth)}}/month</p>
                </div>
            </div>
            <div class="expense-ctnr">
                <p>Lowest Expense</p>
                <div class="expense">
                    <img [src]="lowestExpensePerMonth.icon" draggable="false">
                    <p>{{lowestExpensePerMonth.name}}&nbsp;&nbsp;=&nbsp;&nbsp;{{currencyFormatter.format(lowestExpenseCostPerMonth)}}/month</p>
                </div>
            </div>
            <div class="expense-ctnr">
                <button
                    type="button"
                    class="btn btn-lg"
                    routerLink="/dashboard"
                >VIEW ALL EXPENSES</button>
            </div>
        </div>
    } @else {
        <div class="analysis-ctnr">
            <p><a class="hyperlink" routerLink="/edit-expense">Add an expense</a> to get started...</p>
        </div>
    }
</div>