/* You can add GLOBAL STYLES to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/* FONTS */
@font-face { font-family: "Poppins-Regular"; src: url(assets/fonts/Poppins/Poppins-Regular.ttf); }
@font-face { font-family: "Poppins-Medium"; src: url(assets/fonts/Poppins/Poppins-Medium.ttf); }
@font-face { font-family: "Poppins-SemiBold"; src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf); }
@font-face { font-family: "Poppins-Bold"; src: url(assets/fonts/Poppins/Poppins-Bold.ttf); }
@font-face { font-family: "Poppins-Black"; src: url(assets/fonts/Poppins/Poppins-Black.ttf); }


/* COLOR VARS */
:root {
    --first: #0a0a0a;
    --second: #141414;
    --third: #1f1f1f;
    --fourth: #292929;
    --accent: #7cfc00;
    --text-white: #ffffff;
    --text-grey: #acacac;
    --text-red: #ee2926;
}


/* GLOBAL ELEMENTS */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--first);
    color: var(--text-white);
    font-family: "Poppins-Regular";
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar { width: 1.5rem; }
html::-webkit-scrollbar-track { background: black; }
html::-webkit-scrollbar-thumb { background: var(--fourth); }

a:link, a:visited, a:hover, a:active { text-decoration: none; }

/* Buttons */
.btn {
    display: flex;
    align-self: center;
    justify-content: center;
    background: none;
    color: var(--text-grey);
    border: 2px solid #acacac;;
    border-radius: 4rem;
    font-family: "Poppins-Medium";
    cursor: pointer;

    img {
        width: 2rem;
        height: 2rem;
        margin: 0;
        filter: invert(71%) sepia(1%) saturate(826%) hue-rotate(64deg) brightness(100%) contrast(85%);
    }
}
.btn:hover {
    color: var(--text-white);
    border: 2px solid #ffffff;;

    img { filter: invert(100%) sepia(1%) saturate(1768%) hue-rotate(247deg) brightness(119%) contrast(100%); }
}

.btn-sm { padding: .5rem 1rem; }
.btn-md { padding: .5rem 2rem; }
.btn-lg {
    padding: .5rem 2rem;
    font-size: 1.5rem;
}
.btn-save {
    color: var(--accent);
    border-color: var(--accent);
}
.btn-save:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--fourth);
    font-weight: 600;
}
.btn-danger {
    color: var(--text-red);
    border-color: var(--text-red);
}
.btn-danger:hover {
    background: var(--text-red);
    border-color: var(--text-red);
    color: var(--fourth);
    font-weight: 600;
}
.btn-icon {
    border: none;
    border-radius: 0;
    padding: 0;

    img { width: 2.5rem; height: 2.5rem; }
}
.btn-icon:hover { border: none; }


/* Forms */
.form-ctnr {
    display: flex;
    background-color: var(--fourth);
    width: 85%;
    gap: 2rem;
    border-radius: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-inputs {
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}

.input-ctnr {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    p {
        font-size: 1.5rem;
        color: var(--text-grey);
    }
    input, select {
        font-family: "Poppins-Regular";
        font-size: 2rem;
        background: var(--third);
        color: #fff;
        border: 1.5px solid var(--text-grey);
        border-radius: 1rem;
        padding: .5rem 1rem;
    }
    option { color: white; }
    option:first-child { color: grey; }
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 2rem;
    gap: 1rem;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}


/* Page Content */
.content-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--first);
    padding: 4rem 0;
}

.page-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-flow: wrap;

    img {
        height: 3rem;
        width: 3rem;
        filter: invert(68%) sepia(75%) saturate(763%) hue-rotate(41deg) brightness(107%) contrast(106%);
    }
    h1 {
        color: var(--accent);
        font-size: 3rem;
    }
}

/* Tables component */
app-expense-tables {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


/* MATERIAL ELEMENTS */

/* Material Button Toggle */
.mat-button-toggle-group {
    border: 2px solid #acacac !important;
    border-radius: 4rem !important;
}

.mat-button-toggle {
    border-radius: 4rem !important;
    background: none !important;
    color: var(--text-grey) !important;
    border: none !important;
}

.mat-button-toggle-label-content {
    font-family: "Poppins-Regular";
    font-size: 1.4rem;
    padding: .85rem 2rem !important;
    line-height: 1.2 !important;
}

.mat-button-toggle-checked {
    background: var(--second) !important;
    color: white !important;
}

.mat-ripple { border-radius: 4rem !important; }

.mat-pseudo-checkbox { display: none !important; }


/* ANGULAR POPUP TOAST */
.toast-message {
    .msg-title { font-size: 1.5rem !important; }
    .msg-summary {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
}