/* You can add GLOBAL STYLES to this file, and also import other style files */
@import url("assets/stylesheets/material.css");
@import url("assets/stylesheets/buttons.css");
@import url("assets/stylesheets/forms.css");
@import url("assets/stylesheets/popups.css");
@import url("assets/stylesheets/tables.css");


/* FONTS */
@font-face { font-family: "Poppins-Regular"; src: url(assets/fonts/Poppins/Poppins-Regular.ttf); }
@font-face { font-family: "Poppins-Medium"; src: url(assets/fonts/Poppins/Poppins-Medium.ttf); }
@font-face { font-family: "Poppins-SemiBold"; src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf); }
@font-face { font-family: "Poppins-Bold"; src: url(assets/fonts/Poppins/Poppins-Bold.ttf); }
@font-face { font-family: "Poppins-Black"; src: url(assets/fonts/Poppins/Poppins-Black.ttf); }


/* COLOR VARS */
/* Original black/green styles */
/* :root {
    --first: #0a0a0a;
    --second: #141414;
    --third: #1f1f1f;
    --fourth: #292929;
    --accent: #7cfc00;
    --text-white: #ffffff;
    --text-grey: #acacac;
    --text-darkgrey: grey;
    --text-red: #ee2926;
} */
 /* Blue styles */
:root {
    --first: #0c0e1b;
    --second: #0c0e1b;
    --third: #272b3b;
    --fourth: #1d1f2b;
    --accent: #669ef3;
    --text-white: #ffffff;
    --text-grey: #acacac;
    --text-darkgrey: grey;
    --text-red: #ee2926;
}
/* Light mode */
/* :root {
    --first: #e0e0e0;
    --second: #cccccc;
    --third: #dfdfdf;
    --fourth: #fff;
    --accent: #433bff;
    --text-white: #111111;
    --text-grey: #acacac;
    --text-darkgrey: grey;
    --text-red: #ee2926;
} */

/* GLOBAL ELEMENTS */
* { margin: 0; padding: 0; }

html {
    background-color: var(--first);
    color: var(--text-white);
    font-family: "Poppins-Regular";
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html::-webkit-scrollbar { width: 1.5rem; }
html::-webkit-scrollbar-track { background: black; }
html::-webkit-scrollbar-thumb { background: var(--fourth); }

a:link, a:visited, a:hover, a:active { text-decoration: none; }

.hyperlink { color: var(--text-white); }
.hyperlink:hover {
    color: var(--accent);
    text-decoration: underline !important;
}

.cursor-default { cursor: default !important; }


/* Page Content */
.content-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--first);
    padding: 4rem 0;
}

.page-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-flow: wrap;

    img { width: 3rem; height: 3rem; }
    h1 {
        font-family: "Poppins-Bold";
        font-size: 3rem;
        color: var(--text-white);
    }
}


/* Tables Component */
app-expense-tables {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}