<div class="content-ctnr">
    <div class="page-title">
        <img src="assets/icons/login-icons/login-black.svg" draggable="false">
        <h1>Login</h1>
    </div>

    <div class="form-ctnr">
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
            <!-- Username input -->
            <div class="login-input-ctnr" [class.error-input]="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                <img src="assets/icons/nav-icons/user.svg" draggable="false">
                <input
                    type="text"
                    formControlName="username"
                    maxlength="20"
                    placeholder="Username"
                >
            </div>

            <!-- Password input -->
            <div class="login-input-ctnr" [class.error-input]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                <img src="assets/icons/expense-icons/lock.svg" draggable="false">
                <input
                    [type]="pwType"
                    formControlName="password"
                    placeholder="Password"
                >
                <img
                    [src]="eyeIcon"
                    draggable="false"
                    class="eye-icon"
                    (click)="hideShowPassword()"
                >
            </div>

            <!-- Validation errors -->
            <div class="error-msgs">
                <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">* Username is required</small>
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">* Password is required</small>
            </div>

            <!-- Buttons -->
            <div class="form-btns">
                <div>
                    <button
                        type="submit"
                        class="btn btn-lg btn-save"
                    >Login</button>
                    <button
                        type="button"
                        class="btn btn-lg"
                        routerLink="/signup"
                    >or Sign Up</button>
                </div>
                <div>
                    <a>Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>