<div class="content-ctnr">
    <div class="page-title">
        <img src="assets/icons/nav-icons/pie-chart-dollar-black.svg" draggable="false">
        <h1>Analysis</h1>
    </div>

    <app-expense-tables
        [showSummary]="true"
        [showExpenseList]="false"
    ></app-expense-tables>

    <div class="analysis-ctnr">
        <div class="analysis-hdr">
            <h2>Expense Distribution</h2>
            <!-- <mat-button-toggle-group [(ngModel)]="summaryToggleValue" (change)="changeSummaryValue($event)">
                <mat-button-toggle value="perMonth">PER MONTH</mat-button-toggle>
                <mat-button-toggle value="perYear">PER YEAR</mat-button-toggle>
            </mat-button-toggle-group> -->
        </div>
        <div class="pie-chart" [chart]="categoryPieChart"></div>
    </div>
</div>