<div class="content-ctnr">
    <div class="page-title">
        <img src="assets/icons/nav-icons/pie-chart-dollar-black.svg" draggable="false">
        <h1>Analysis</h1>
    </div>

    <!-- Expense Summary -->
    <app-expense-tables
        [showSummary]="true"
        [showIncomeVsExpenses]="true"
        [showExpenseList]="false"
    ></app-expense-tables>

    <!-- Pie Charts -->
    <div class="analysis-ctnr">
        <div class="analysis-hdr">
            <h2>Expense Distribution</h2>
        </div>
        <div class="pie-chart-ctnr">
            <div class="pie-chart" [chart]="categoryPieChart"></div>
            <div class="pie-chart" [chart]="costPieChart"></div>
        </div>
    </div>
</div>