<!-- EXPENSE SUMMARY -->
<div class="expense-summary-ctnr" *ngIf="showSummary">
    <div class="expense-summary-hdr">
        <h2>Expense Summary</h2>
        <mat-button-toggle-group [(ngModel)]="summaryToggleValue" (change)="changeSummaryValue($event)">
            <mat-button-toggle value="perMonth">PER MONTH</mat-button-toggle>
            <mat-button-toggle value="perYear">PER YEAR</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    
    <div class="expense-summary-body">
        <!-- Monthly Expenses Summary -->
        <div class="summary">
            <ng-container *ngIf="summaryToggleValue == 'perMonth'; else yearlyValuesForMonthlyCharges">
                <p>{{currencyFormatter.format(totalMonthlyCost)}}</p>
            </ng-container>
            <ng-template #yearlyValuesForMonthlyCharges>
                <p>{{currencyFormatter.format(totalMonthlyCostPerYear)}}</p>
            </ng-template>
            <p>from Monthly Expenses</p>
        </div>
        <!-- Yearly Expenses Summary -->
        <div class="summary">
            <ng-container *ngIf="summaryToggleValue == 'perMonth'; else yearlyValuesForYearlyCharges">
                <p>{{currencyFormatter.format(totalYearlyCostPerMonth)}}</p>
            </ng-container>
            <ng-template #yearlyValuesForYearlyCharges>
                <p>{{currencyFormatter.format(totalYearlyCost)}}</p>
            </ng-template>
            <p>from Yearly Expenses</p>
        </div>
        <!-- Total Expenses Summary -->
        <div class="summary">
            <ng-container *ngIf="summaryToggleValue == 'perMonth'; else yearlyValuesForTotalCharges">
                <p><b>{{currencyFormatter.format(totalExpenseCostPerMonth)}}</b></p>
            </ng-container>
            <ng-template #yearlyValuesForTotalCharges>
                <p><b>{{currencyFormatter.format(totalExpenseCostPerYear)}}</b></p>
            </ng-template>
            <p>in Total Expenses</p>
        </div>
    </div>
</div>


<!-- INCOME V. EXPENSES -->
@if (userYearlyIncome != 0 && userYearlyIncome != null) {
    <div class="expense-summary-ctnr" *ngIf="showIncomeVsExpenses">
        <div class="expense-summary-hdr">
            <h2>Income vs. Expenses</h2>
            <mat-button-toggle-group [(ngModel)]="incomeVsExpensesToggleValue" (change)="changeIncomeVsExpensesToggleValue($event)">
                <mat-button-toggle value="perMonth">PER MONTH</mat-button-toggle>
                <mat-button-toggle value="perYear">PER YEAR</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <div class="expense-summary-body">
            <!-- Income -->
            <div class="summary">
                <div class="num-and-icon">
                    <ng-container *ngIf="incomeVsExpensesToggleValue == 'perMonth'; else yearlyValuesForIncome">
                        <p>{{currencyFormatter.format(userMonthlyIncome)}}</p>
                    </ng-container>
                    <ng-template #yearlyValuesForIncome>
                        <p>{{currencyFormatter.format(userYearlyIncome)}}</p>
                    </ng-template>
    
                    <img
                        src="assets/icons/arrow-up-bold.svg"
                        draggable="false"
                        class="green-arrow"
                    >
                </div>
                
                <p>in Income</p>
            </div>
            <!-- Expenses -->
            <div class="summary">
                <div class="num-and-icon">
                    <ng-container *ngIf="incomeVsExpensesToggleValue == 'perMonth'; else yearlyValuesForExpenses">
                        <p>{{currencyFormatter.format(totalExpenseCostPerMonth)}}</p>
                    </ng-container>
                    <ng-template #yearlyValuesForExpenses>
                        <p>{{currencyFormatter.format(totalExpenseCostPerYear)}}</p>
                    </ng-template>
    
                    <img
                        src="assets/icons/arrow-down-bold.svg"
                        draggable="false"
                        class="red-arrow"
                    >
                </div>
                
                <p>in Expenses</p>
            </div>
            <!-- Difference -->
            <div class="summary">
                <div class="num-and-icon">
                    <ng-container *ngIf="incomeVsExpensesToggleValue == 'perMonth'; else yearlyValuesForTotalDiff">
                        <p><b>{{currencyFormatter.format(userMonthlyIncome - totalExpenseCostPerMonth)}}</b></p>
                    </ng-container>
                    <ng-template #yearlyValuesForTotalDiff>
                        <p><b>{{currencyFormatter.format(userYearlyIncome - totalExpenseCostPerYear)}}</b></p>
                    </ng-template>
    
                    <ng-container *ngIf="userYearlyIncome - totalExpenseCostPerYear > 0; else totalDeficit">
                        <img src="assets/icons/arrow-up-bold.svg" class="green-arrow" draggable="false">
                    </ng-container>
                    <ng-template #totalDeficit>
                        <img src="assets/icons/arrow-down-bold.svg" class="red-arrow" draggable="false">
                    </ng-template>
                </div>
    
                <ng-container *ngIf="userYearlyIncome - totalExpenseCostPerYear > 0; else totalDeficit">
                    <p>in Total Gain</p>
                </ng-container>
                <ng-template #totalDeficit>
                    <p>in Total Loss</p>
                </ng-template>
            </div>
        </div>
    </div>
} @else {
    <div class="expense-summary-ctnr" *ngIf="showIncomeVsExpenses">
        <div class="expense-summary-hdr">
            <h2>Income vs. Expenses</h2>
        </div>
        
        <div class="expense-summary-body">
            <p>Add your income on the <a routerLink="/profile" class="hyperlink">Profile page</a> to see results...</p>
        </div>
    </div>
}


<!-- MY EXPENSES -->
<div class="expense-tables-ctnr"  *ngIf="showExpenseList">
    <div class="expense-tables-hdr">
        <h2>My Expenses</h2>
        <mat-button-toggle-group [(ngModel)]="tableViewValue" (change)="changeTableView($event)">
            <mat-button-toggle value="separated">SEPARATED BY TYPE</mat-button-toggle>
            <mat-button-toggle value="combined">COMBINED</mat-button-toggle>
        </mat-button-toggle-group>
        <button class="btn btn-icon" routerLink="/edit-expense" title="Add an Expense">
            <img src="assets/icons/add-black.svg" draggable="false">
        </button>
    </div>

    <!-- COMBINED  -->
    <div class="table-group-ctnr" *ngIf="tableViewValue == 'combined'">
        <div class="table-ctnr">
            <div class="table-header">
                <div class="title-ctnr">
                    <h3>ALL EXPENSES</h3>
                    @if (expenseList$ | async; as expenseList) {
                        <div class="list-count"><h3>{{expenseList.length}}</h3></div>
                    }
                </div>
                <div class="sort-ctnr">
                    <label for="sort-options">Sort by:</label>
                    <select id="sort-options" (change)="sortAllExpenses($event)">
                        <option value="default">Default (Order Added)</option>
                        <option value="name-asc">Name (A-Z)</option>
                        <option value="cost-asc">Cost (Low to High)</option>
                        <option value="cost-desc">Cost (High to Low)</option>
                        <option value="pd-asc">Payment Date (First to Last)</option>
                        <option value="pd-desc">Payment Date (Last to First)</option>
                        <option value="type-asc">Type (Monthly to Yearly)</option>
                        <option value="type-desc">Type (Yearly to Monthly)</option>
                        <option value="category-asc">Category (A-Z)</option>
                    </select>
                </div>
            </div>
            <table>
                <tr>
                    <th>Expense</th>
                    <th>Cost</th>
                    <th>Payment Date</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th></th>
                </tr>
                @if (expenseList$ | async; as expenseList) {
                    @if (expenseList.length > 0) {
                        @for (expense of sortedAllExpenses; track $index) {
                            <tr>
                                <td>
                                    <img [src]="expense.icon" draggable="false">
                                    {{expense.name}}
                                </td>
                                <td>{{currencyFormatter.format(expense.cost)}}</td>
                                <td>{{expense.paymentDate}}</td>
                                <td>{{expense.type}}</td>
                                <td>{{expense.category}}</td>
                                <td class="td-btns">
                                    <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                                        <img src="assets/icons/pencil-black.svg" draggable="false">
                                    </button>
                                    <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                                        <img src="assets/icons/trash-black.svg" draggable="false">
                                    </button>
                                </td>
                            </tr>
                        }
                    } @else {
                        <tr>
                            <td>No expenses found...</td>
                            <td><a class="hyperlink" routerLink="/edit-expense">Add expense</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
                <tr>
                    <th>Total:</th>
                    <ng-container *ngIf="summaryToggleValue == 'perMonth'; else yearlyValuesForTotalCharges">
                        <th class="total">{{currencyFormatter.format(totalExpenseCostPerMonth)}} / month</th>
                    </ng-container>
                    <ng-template #yearlyValuesForTotalCharges>
                        <th class="total">{{currencyFormatter.format(totalExpenseCostPerYear)}} / year</th>
                    </ng-template>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>

    <!-- SEPARATED BY TYPE -->
    <div class="table-group-ctnr" *ngIf="tableViewValue == 'separated'">
        <!-- Monthly Expenses -->
        <div class="table-ctnr">
            <div class="table-header">
                <div class="title-ctnr">
                    <h3>MONTHLY EXPENSES</h3>
                    <div class="list-count"><h3>{{originalMonthlyExpenses.length}}</h3></div>
                </div>
                <div class="sort-ctnr">
                    <label for="sort-options">Sort by:</label>
                    <select id="sort-options" (change)="sortMonthlyExpenses($event)">
                        <option value="default">Default (Order Added)</option>
                        <option value="name-asc">Name (A-Z)</option>
                        <option value="cost-asc">Cost (Low to High)</option>
                        <option value="cost-desc">Cost (High to Low)</option>
                        <option value="pd-asc">Payment Date (First to Last)</option>
                        <option value="pd-desc">Payment Date (Last to First)</option>
                        <option value="category-asc">Category (A-Z)</option>
                    </select>
                </div>
            </div>
            <table>
                <tr>
                    <th>Expense</th>
                    <th>Cost</th>
                    <th>Payment Date</th>
                    <th></th>
                </tr>

                @if (sortedMonthlyExpenses.length > 0) {
                    <tr *ngFor="let expense of sortedMonthlyExpenses; let i = index">
                        <td>
                            <img [src]="expense.icon" draggable="false">
                            {{expense.name}}
                        </td>
                        <td>{{currencyFormatter.format(expense.cost)}}</td>
                        <td>{{expense.paymentDate}}</td>
                        <td class="td-btns">
                            <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                                <img src="assets/icons/pencil-black.svg" draggable="false">
                            </button>
                            <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                                <img src="assets/icons/trash-black.svg" draggable="false">
                            </button>
                        </td>
                    </tr>
                } @else {
                    <tr>
                        <td>No expenses found...</td>
                        <td><a class="hyperlink" routerLink="/edit-expense">Add expense</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                
                <tr>
                    <th>Total:</th>
                    <th class="total">{{currencyFormatter.format(totalMonthlyCost)}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>

        <!-- Yearly Expenses -->
        <div class="table-ctnr">
            <div class="table-header">
                <div class="title-ctnr">
                    <h3>YEARLY EXPENSES</h3>
                    <div class="list-count"><h3>{{originalYearlyExpenses.length}}</h3></div>
                </div>
                <div class="sort-ctnr">
                    <label for="sort-options">Sort by:</label>
                    <select id="sort-options" (change)="sortYearlyExpenses($event)">
                        <option value="default">Default (Order Added)</option>
                        <option value="name-asc">Name (A-Z)</option>
                        <option value="cost-asc">Cost (Low to High)</option>
                        <option value="cost-desc">Cost (High to Low)</option>
                        <option value="pd-asc">Payment Date (First to Last)</option>
                        <option value="pd-desc">Payment Date (Last to First)</option>
                        <option value="category-asc">Category (A-Z)</option>
                    </select>
                </div>
            </div>
            <table>
                <tr>
                    <th>Expense</th>
                    <th>Cost</th>
                    <th>Payment Date</th>
                    <th></th>
                </tr>

                @if (sortedYearlyExpenses.length > 0) {
                    <tr *ngFor="let expense of sortedYearlyExpenses; let i = index">
                        <td>
                            <img [src]="expense.icon" draggable="false">
                            {{expense.name}}
                        </td>
                        <td>{{currencyFormatter.format(expense.cost)}}</td>
                        <td>{{expense.paymentDate}}</td>
                        <td class="td-btns">
                            <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                                <img src="assets/icons/pencil-black.svg" draggable="false">
                            </button>
                            <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                                <img src="assets/icons/trash-black.svg" draggable="false">
                            </button>
                        </td>
                    </tr>
                } @else {
                    <tr>
                        <td>No expenses found...</td>
                        <td><a class="hyperlink" routerLink="/edit-expense">Add expense</a></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                
                <tr>
                    <th>Total:</th>
                    <th class="total">{{currencyFormatter.format(totalYearlyCost)}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>