<div class="content-ctnr">
    <div class="page-title">
        <ng-container *ngIf="suggestionId; else addSuggestion">
            <img src="assets/icons/pencil.svg" draggable="false">
            <h1>Edit Suggestion</h1>
        </ng-container>
        <ng-template #addSuggestion>
            <img src="assets/icons/add.svg" draggable="false">
            <h1>Add Suggestion</h1>
        </ng-template>
    </div>

    <div class="form-ctnr">
        <form [formGroup]="suggestionForm" (ngSubmit)="updateSuggestion()">
            <div class="form-inputs">
                <!-- Username -->
                <input type="hidden" formControlName="username">
                
                <!-- Message input -->
                <div class="input-ctnr">
                    <p>Message</p>
                    <input type="textarea" formControlName="message" placeholder="Describe a suggestion for the ExpensePro application...">
                </div>
            </div>
            
            <div class="form-btns">
                <div>
                    <button
                        type="button"
                        class="btn btn-lg"
                        routerLink="/help"
                    >Cancel</button>
                    <button
                        type="submit"
                        class="btn btn-lg btn-save"
                    >Save</button>
                </div>
                <!-- <div>
                    <button
                        type="button"
                        class="btn btn-lg btn-danger"
                        (click)="deleteExpense()"
                        *ngIf="expenseId"
                    >Delete</button>
                </div> -->
            </div>
        </form>
    </div>
</div>