<div class="content-ctnr">
    <div class="cards-table-ctnr">
        <div class="cards-table-hdr">
            <h2>My Cards</h2>
            <button class="btn btn-icon" routerLink="" title="Add a Card">
                <img src="assets/icons/add-black.svg" draggable="false">
            </button>
        </div>
        <div class="table-ctnr">
            <div class="table-header">
                <div class="title-ctnr">
                    <h3>ALL CARDS</h3>
                    @if (true) {
                        <div class="list-count"><h3>4</h3></div>
                    }
                </div>
                <div class="sort-ctnr">
                    <label for="sort-options">Sort by:</label>
                    <select id="sort-options">
                        <option value="default">Default (Order Added)</option>
                        <option value="name-asc">Name (A-Z)</option>
                    </select>
                </div>
            </div>
            <table>
                <!-- Table header -->
                <tr>
                    <th>Account</th>
                    <th>Credit Limit</th>
                    <th>Annual Fee</th>
                </tr>

                <!-- Table content -->
                <tr>
                    <td>
                        <img src="assets/images/gold-card.avif" class="card-img" draggable="false">
                        Amex Gold Card
                    </td>
                    <td>N/A</td>
                    <td>$325</td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/images/blue-cash-preferred.avif" class="card-img" draggable="false">
                        Amex Blue Cash Preferred
                    </td>
                    <td>N/A</td>
                    <td>$95</td>
                </tr>

                <!-- Table footer -->
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>