<div class="content-ctnr">
    <div class="cards-table-ctnr">
        <div class="cards-table-hdr">
            <h2>My Cards</h2>
            <button class="btn btn-icon" routerLink="/edit-card" title="Add a Card">
                <img src="assets/icons/add-black.svg" draggable="false">
            </button>
        </div>
        <div class="table-ctnr">
            <div class="table-header">
                <div class="title-ctnr">
                    <h3>ALL CARDS</h3>
                    @if (cardList$ | async; as cardList) {
                        <div class="list-count"><h3>{{cardList.length}}</h3></div>
                    }
                </div>
                <div class="sort-ctnr">
                    <label for="sort-options">Sort by:</label>
                    <select id="sort-options">
                        <option value="default">Default (Order Added)</option>
                        <option value="name-asc">Name (A-Z)</option>
                    </select>
                </div>
            </div>
            <table>
                <!-- Table header -->
                <tr>
                    <th>Card Name</th>
                    <th>Credit Limit</th>
                    <th>Annual Fee</th>
                    <th></th>
                </tr>

                <!-- Table content -->
                @if (cardList$ | async; as cardList) {
                    @if (cardList.length > 0) {
                        @for (card of cardList; track $index) {
                            <tr>
                                <td>
                                    <img [src]="card.cardImage" class="card-img" draggable="false">
                                    {{ card.cardName }}
                                </td>
                                <td>{{currencyFormatter.format(card.creditLimit)}}</td>
                                <td>{{currencyFormatter.format(card.annualFee)}}</td>
                                <td class="td-btns">
                                    <button class="btn btn-icon" [routerLink]="['/edit-card', card.id]">
                                        <img src="assets/icons/pencil-black.svg" draggable="false">
                                    </button>
                                    <button class="btn btn-icon" (click)="deleteCard(card.id)">
                                        <img src="assets/icons/trash-black.svg" draggable="false">
                                    </button>
                                </td>
                            </tr>
                        }
                    } @else {
                        <tr>
                            <td>No cards found...</td>
                            <td><a class="hyperlink" routerLink="/edit-card">+ Add card</a></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                } 

                <!-- Table footer -->
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>