<div class="content-ctnr">
    <div class="page-title">
        <img src="assets/icons/nav-icons/dashboard-black.svg" draggable="false">
        <h1>Dashboard</h1>
    </div>

    <!-- Expense Summary -->
    <div class="expense-summary-ctnr">
        <div class="expense-summary-hdr">
            <h2>Expense Summary</h2>
            <button class="btn btn-md" id="summary-toggle" value="month">
                <p id="summary-toggle-text">PER MONTH</p>
            </button>
        </div>
        
        <div class="expense-summary-body">
            <div class="summary">
                <p>{{currencyFormatter.format(totalMonthlyCost)}}</p>
                <p>from Monthly Charges</p>
            </div>
            <div class="summary">
                <p>{{currencyFormatter.format(totalYearlyCost)}}</p>
                <p>from Yearly Charges</p>
            </div>
            <div class="summary">
                <p>{{currencyFormatter.format(totalExpenseCost)}}</p>
                <p>in Total Charges</p>
            </div>
        </div>
    </div>

    <!-- Expense Tables -->
    <div class="expense-tables-ctnr">
        <!-- Monthly Expenses -->
        <div class="table-ctnr">
            <div class="table-title">
                <h3>MONTHLY EXPENSES</h3>
                <div class="list-count"><h3>{{monthlyExpenses.length}}</h3></div>
                <a class="btn btn-icon" href="#addExpenseCtnr">
                    <img src="assets/icons/new-page-black.svg" draggable="false">
                </a>
            </div>
            <table>
                <tr>
                    <th>Expense</th>
                    <th>Cost</th>
                    <th>Payment Date</th>
                    <th></th>
                </tr>
                <tr *ngFor="let expense of monthlyExpenses; let i = index">
                    <td>
                        <img [src]="expense.icon" draggable="false">
                        {{expense.name}}
                    </td>
                    <td>{{currencyFormatter.format(expense.cost)}}</td>
                    <td>{{expense.paymentDate}}</td>
                    <td class="td-btns">
                        <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                            <img src="assets/icons/pencil-black.svg" draggable="false">
                        </button>
                        <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                            <img src="assets/icons/trash-black.svg" draggable="false">
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <th class="total">{{currencyFormatter.format(totalMonthlyCost)}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>

        <!-- Yearly Expenses -->
        <div class="table-ctnr">
            <div class="table-title">
                <h3>YEARLY EXPENSES</h3>
                <div class="list-count"><h3>{{yearlyExpenses.length}}</h3></div>
                <a class="btn btn-icon" href="#addExpenseCtnr">
                    <img src="assets/icons/new-page-black.svg" draggable="false">
                </a>
            </div>
            <table>
                <tr>
                    <th>Expense</th>
                    <th>Cost</th>
                    <th>Payment Date</th>
                    <th></th>
                </tr>
                <tr *ngFor="let expense of yearlyExpenses; let i = index">
                    <td>
                        <img [src]="expense.icon" draggable="false">
                        {{expense.name}}
                    </td>
                    <td>{{currencyFormatter.format(expense.cost)}}</td>
                    <td>{{expense.paymentDate}}</td>
                    <td class="td-btns">
                        <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                            <img src="assets/icons/pencil-black.svg" draggable="false">
                        </button>
                        <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                            <img src="assets/icons/trash-black.svg" draggable="false">
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <th class="total">{{currencyFormatter.format(totalYearlyCost)}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>

    <!-- ........................ -->

    <!-- TESTING: All Expenses -->
    <div class="expense-tables-ctnr">
        <div class="table-ctnr">
            <div class="table-title">
                <h3>ALL EXPENSES</h3>
                @if (expenseList$ | async; as expenseList) {
                    <div class="list-count"><h3>{{expenseList.length}}</h3></div>
                }
                <a class="btn btn-icon" href="#addExpenseCtnr">
                    <img src="assets/icons/new-page-black.svg" draggable="false">
                </a>
            </div>
            <table>
                <tr>
                    <th>Expense</th>
                    <th>Cost</th>
                    <th>Payment Date</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                @if (expenseList$ | async; as expenseList) {
                    @if (expenseList.length > 0) {
                        @for (expense of expenseList; track $index) {
                            <tr>
                                <td>
                                    <img [src]="expense.icon" draggable="false">
                                    {{expense.name}}
                                </td>
                                <td>{{currencyFormatter.format(expense.cost)}}</td>
                                <td>{{expense.paymentDate}}</td>
                                <td>{{expense.type}}</td>
                                <td class="td-btns">
                                    <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                                        <img src="assets/icons/pencil-black.svg" draggable="false">
                                    </button>
                                    <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                                        <img src="assets/icons/trash-black.svg" draggable="false">
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    @else {
                        <tr>
                            <td>
                                No expenses found...
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                }
                <tr>
                    <th>Total:</th>
                    <th class="total">{{currencyFormatter.format(totalExpenseCost)}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>

    <!-- Add Expense Form -->
    <div class="add-expense-ctnr" id="addExpenseCtnr">
        <div class="table-title">
            <h3>ADD EXPENSE</h3>
        </div>
        <form (ngSubmit)="addExpense()" [formGroup]="expenseForm">
            <div class="form-inputs">
                <div class="input-ctnr">
                    <p>Icon</p>
                    <select name="icon-select" formControlName="icon">
                        <option value="/assets/icons/expense-icons/usd-circle.svg">Default</option>
                        <option value="/assets/icons/expense-icons/baby.svg">Baby</option>
                        <option value="/assets/icons/expense-icons/briefcase.svg">Briefcase</option>
                        <option value="/assets/icons/expense-icons/car.svg">Car</option>
                        <option value="/assets/icons/expense-icons/credit-card.svg">Card</option>
                        <option value="/assets/icons/expense-icons/coins.svg">Coins</option>
                        <option value="/assets/icons/expense-icons/computer.svg">Computer</option>
                        <option value="/assets/icons/expense-icons/gamepad.svg">Game Controller</option>
                        <option value="/assets/icons/expense-icons/house.svg">House</option>
                        <option value="/assets/icons/expense-icons/globe.svg">Internet</option>
                        <option value="/assets/icons/expense-icons/joystick.svg">Joystick</option>
                        <option value="/assets/icons/expense-icons/laptop.svg">Laptop</option>
                        <option value="/assets/icons/expense-icons/mobile-phone.svg">Mobile Phone</option>
                        <option value="/assets/icons/expense-icons/music-note.svg">Music</option>
                        <option value="/assets/icons/expense-icons/paw.svg">Pet</option>
                        <option value="/assets/icons/expense-icons/pills.svg">Pills/Meds</option>
                        <option value="/assets/icons/expense-icons/shopping-cart.svg">Shopping Cart</option>
                        <option value="/assets/icons/expense-icons/sparkles.svg">Sparkles</option>
                        <option value="/assets/icons/expense-icons/star.svg">Star</option>
                        <option value="/assets/icons/expense-icons/tv.svg">TV</option>
                        <option value="/assets/icons/expense-icons/tv-retro.svg">TV Retro</option>
                    </select>
                </div>
                <div class="input-ctnr">
                    <p>Name</p>
                    <input type="text" formControlName="name">
                </div>
                <div class="input-ctnr">
                    <p>Type</p>
                    <select name="type-select" formControlName="type">
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
                <div class="input-ctnr">
                    <p>Cost</p>
                    <input type="number" formControlName="cost">
                </div>
                <div class="input-ctnr">
                    <p>Payment Date</p>
                    <input type="text" formControlName="paymentDate">
                </div>
            </div>
            <div class="form-btns">
                <button type="button" class="btn btn-lg" (click)="clearForm()">Clear</button>
                <button type="submit" class="btn btn-lg btn-color">Add</button>
            </div>
        </form>
    </div>
</div>