<div class="nav-ctnr">
    <button class="nav-btn" routerLink="/">
        <img src="assets/icons/nav-icons/dashboard.svg" draggable="false">
        <p>Dashboard</p>
    </button>
    <button class="nav-btn">
        <img src="assets/icons/nav-icons/list.svg" draggable="false">
        <p>All Expenses</p>
    </button>
    <button class="nav-btn" [routerLink]="['/edit-expense']">
        <img src="assets/icons/new-page.svg" draggable="false">
        <p>Add Expense</p>
    </button>
    <button class="nav-btn">
        <img src="assets/icons/nav-icons/layers.svg" draggable="false">
        <p>Sort Tables</p>
    </button>
</div>