<div class="nav-ctnr">
    <button class="nav-btn" routerLink="/dashboard" routerLinkActive="active-link">
        <img src="assets/icons/nav-icons/dashboard.svg" draggable="false">
        <p>Dashboard</p>
    </button>
    <button class="nav-btn" routerLink="/all-expenses" routerLinkActive="active-link">
        <img src="assets/icons/nav-icons/list.svg" draggable="false">
        <p>All Expenses</p>
    </button>
    <button class="nav-btn" [routerLink]="['/edit-expense']" routerLinkActive="active-link">
        <img src="assets/icons/new-page.svg" draggable="false">
        <p>Add Expense</p>
    </button>
</div>