<!-- EXPENSE SUMMARY -->
<div class="expense-summary-ctnr" *ngIf="showSummary">
    <div class="expense-summary-hdr">
        <h2>Expense Summary</h2>
        <button class="btn btn-md" id="summary-toggle" value="month" (click)="toggleSummaryValues()">
            <p id="summary-toggle-text" *ngIf="showMonthlyValues">PER MONTH</p>
            <p id="summary-toggle-text" *ngIf="!showMonthlyValues">PER YEAR</p>
        </button>
    </div>
    
    <div class="expense-summary-body">
        <!-- Monthly Charges Summary -->
        <div class="summary">
            <ng-container *ngIf="showMonthlyValues; else yearlyValuesForMonthlyCharges">
                <p>{{currencyFormatter.format(totalMonthlyCost)}}</p>
            </ng-container>
            <ng-template #yearlyValuesForMonthlyCharges>
                <p>{{currencyFormatter.format(totalMonthlyCostPerYear)}}</p>
            </ng-template>
            <p>from Monthly Charges</p>
        </div>
        <!-- Yearly Charges Summary -->
        <div class="summary">
            <ng-container *ngIf="showMonthlyValues; else yearlyValuesForYearlyCharges">
                <p>{{currencyFormatter.format(totalYearlyCostPerMonth)}}</p>
            </ng-container>
            <ng-template #yearlyValuesForYearlyCharges>
                <p>{{currencyFormatter.format(totalYearlyCost)}}</p>
            </ng-template>
            <p>from Yearly Charges</p>
        </div>
        <!-- Total Charges Summary -->
        <div class="summary">
            <ng-container *ngIf="showMonthlyValues; else yearlyValuesForTotalCharges">
                <p class="total">{{currencyFormatter.format(totalExpenseCostPerMonth)}}</p>
            </ng-container>
            <ng-template #yearlyValuesForTotalCharges>
                <p class="total">{{currencyFormatter.format(totalExpenseCostPerYear)}}</p>
            </ng-template>
            <p>in Total Charges</p>
        </div>
    </div>
</div>


<!-- ALL EXPENSES (COMBINED TABLE) -->
<div class="expense-tables-ctnr" *ngIf="showAllExpensesTable">
    <div class="table-ctnr">
        <div class="table-header">
            <div class="title-ctnr">
                <h3>ALL EXPENSES</h3>
                @if (expenseList$ | async; as expenseList) {
                    <div class="list-count"><h3>{{expenseList.length}}</h3></div>
                }
                <button class="btn btn-icon" routerLink="/edit-expense">
                    <img src="assets/icons/new-page-black.svg" draggable="false">
                </button>
            </div>
            <div class="sort-ctnr">
                <label for="sort-options">Sort by:</label>
                <select id="sort-options" (change)="sortAllExpenses($event)">
                    <option value="default">Default (Order Added)</option>
                    <option value="name-asc">Name (A-Z)</option>
                    <option value="cost-asc">Cost (Low to High)</option>
                    <option value="cost-desc">Cost (High to Low)</option>
                    <option value="type-asc">Type (Monthly to Yearly)</option>
                    <option value="type-desc">Type (Yearly to Monthly)</option>
                </select>
            </div>
        </div>
        <table>
            <tr>
                <th>Expense</th>
                <th>Cost</th>
                <th>Payment Date</th>
                <th>Type</th>
                <th></th>
            </tr>
            @if (expenseList$ | async; as expenseList) {
                @if (expenseList.length > 0) {
                    @for (expense of sortedAllExpenses; track $index) {
                        <tr>
                            <td>
                                <img [src]="expense.icon" draggable="false">
                                {{expense.name}}
                            </td>
                            <td>{{currencyFormatter.format(expense.cost)}}</td>
                            <td>{{expense.paymentDate}}</td>
                            <td>{{expense.type}}</td>
                            <td class="td-btns">
                                <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                                    <img src="assets/icons/pencil-black.svg" draggable="false">
                                </button>
                                <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                                    <img src="assets/icons/trash-black.svg" draggable="false">
                                </button>
                            </td>
                        </tr>
                    }
                }
                @else {
                    <tr>
                        <td>
                            No expenses found...
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
            <tr>
                <th>Total:</th>
                <ng-container *ngIf="showMonthlyValues; else yearlyValuesForTotalCharges">
                    <th class="total">{{currencyFormatter.format(totalExpenseCostPerMonth)}} / month</th>
                </ng-container>
                <ng-template #yearlyValuesForTotalCharges>
                    <th class="total">{{currencyFormatter.format(totalExpenseCostPerYear)}} / year</th>
                </ng-template>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</div>


<!-- SEPARATED EXPENSE TABLES -->
<div class="expense-tables-ctnr" *ngIf="showSeparatedTables">
    <!-- Monthly Expenses -->
    <div class="table-ctnr">
        <div class="table-header">
            <div class="title-ctnr">
                <h3>MONTHLY EXPENSES</h3>
                <div class="list-count"><h3>{{originalMonthlyExpenses.length}}</h3></div>
                <button type="button" class="btn btn-icon" routerLink="/edit-expense">
                    <img src="assets/icons/new-page-black.svg" draggable="false">
                </button>
            </div>
            <div class="sort-ctnr">
                <label for="sort-options">Sort by:</label>
                <select id="sort-options" (change)="sortMonthlyExpenses($event)">
                    <option value="default">Default (Order Added)</option>
                    <option value="name-asc">Name (A-Z)</option>
                    <option value="cost-asc">Cost (Low to High)</option>
                    <option value="cost-desc">Cost (High to Low)</option>
                </select>
            </div>
        </div>
        <table>
            <tr>
                <th>Expense</th>
                <th>Cost</th>
                <th>Payment Date</th>
                <th></th>
            </tr>
            <tr *ngFor="let expense of sortedMonthlyExpenses; let i = index">
                <td>
                    <img [src]="expense.icon" draggable="false">
                    {{expense.name}}
                </td>
                <td>{{currencyFormatter.format(expense.cost)}}</td>
                <td>{{expense.paymentDate}}</td>
                <td class="td-btns">
                    <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                        <img src="assets/icons/pencil-black.svg" draggable="false">
                    </button>
                    <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                        <img src="assets/icons/trash-black.svg" draggable="false">
                    </button>
                </td>
            </tr>
            <tr>
                <th>Total:</th>
                <th class="total">{{currencyFormatter.format(totalMonthlyCost)}}</th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>

    <!-- Yearly Expenses -->
    <div class="table-ctnr">
        <div class="table-header">
            <div class="title-ctnr">
                <h3>YEARLY EXPENSES</h3>
                <div class="list-count"><h3>{{originalYearlyExpenses.length}}</h3></div>
                <button type="button" class="btn btn-icon" routerLink="/edit-expense">
                    <img src="assets/icons/new-page-black.svg" draggable="false">
                </button>
            </div>
            <div class="sort-ctnr">
                <label for="sort-options">Sort by:</label>
                <select id="sort-options" (change)="sortYearlyExpenses($event)">
                    <option value="default">Default (Order Added)</option>
                    <option value="name-asc">Name (A-Z)</option>
                    <option value="cost-asc">Cost (Low to High)</option>
                    <option value="cost-desc">Cost (High to Low)</option>
                </select>
            </div>
        </div>
        <table>
            <tr>
                <th>Expense</th>
                <th>Cost</th>
                <th>Payment Date</th>
                <th></th>
            </tr>
            <tr *ngFor="let expense of sortedYearlyExpenses; let i = index">
                <td>
                    <img [src]="expense.icon" draggable="false">
                    {{expense.name}}
                </td>
                <td>{{currencyFormatter.format(expense.cost)}}</td>
                <td>{{expense.paymentDate}}</td>
                <td class="td-btns">
                    <button class="btn btn-icon" [routerLink]="['/edit-expense', expense.id]">
                        <img src="assets/icons/pencil-black.svg" draggable="false">
                    </button>
                    <button class="btn btn-icon" (click)="deleteExpense(expense.id)">
                        <img src="assets/icons/trash-black.svg" draggable="false">
                    </button>
                </td>
            </tr>
            <tr>
                <th>Total:</th>
                <th class="total">{{currencyFormatter.format(totalYearlyCost)}}</th>
                <th></th>
                <th></th>
            </tr>
        </table>
    </div>
</div>