/* You can add GLOBAL STYLES to this file, and also import other style files */

/* FONTS */
@font-face { font-family: "Poppins-Regular"; src: url(assets/fonts/Poppins/Poppins-Regular.ttf); }
@font-face { font-family: "Poppins-Medium"; src: url(assets/fonts/Poppins/Poppins-Medium.ttf); }
@font-face { font-family: "Poppins-SemiBold"; src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf); }
@font-face { font-family: "Poppins-Bold"; src: url(assets/fonts/Poppins/Poppins-Bold.ttf); }
@font-face { font-family: "Poppins-Black"; src: url(assets/fonts/Poppins/Poppins-Black.ttf); }


/* COLOR VARS */
:root {
    --first: #0a0a0a;
    --second: #141414;
    --third: #1f1f1f;
    --fourth: #292929;
    --accent: #a2f263;
    --text-white: #ffffff;
    --text-grey: #acacac;
}


/* GLOBAL ELEMENTS */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--first);
    color: var(--text-white);
    font-family: "Poppins-Regular";
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar { width: 1.5rem; }
html::-webkit-scrollbar-track { background: black; }
html::-webkit-scrollbar-thumb { background: var(--fourth); }

a:link, a:visited, a:hover, a:active { text-decoration: none; }

/* Buttons */
.btn {
    display: flex;
    align-self: center;
    justify-content: center;
    background: none;
    color: var(--text-grey);
    border: 2px solid #acacac;;
    border-radius: 4rem;
    font-family: "Poppins-Medium";
    cursor: pointer;

    img {
        max-width: 2rem;
        max-height: 2rem;
        margin: 0;
        filter: invert(71%) sepia(1%) saturate(826%) hue-rotate(64deg) brightness(100%) contrast(85%);
    }
}
.btn:hover {
    color: var(--text-white);
    border: 2px solid #ffffff;;

    img { filter: invert(100%) sepia(1%) saturate(1768%) hue-rotate(247deg) brightness(119%) contrast(100%); }
}

.btn-sm { padding: .5rem 1rem; }
.btn-md { padding: .5rem 2rem; }
.btn-lg {
    padding: .5rem 2rem;
    font-size: 1.5rem;
}
.btn-color {
    color: var(--accent);
    border-color: var(--accent);
}
.btn-color:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--fourth);
    font-weight: 600;
}
.btn-icon {
    border: none;
    border-radius: 0;
    padding: 0;

    img { max-width: 2.5rem; max-height: 2.5rem; }
}
.btn-icon:hover { border: none; }

/* Page Content */
.content-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--first);
    padding: 4rem 0;
}

.page-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-flow: wrap;

    img {
        max-height: 3rem;
        max-width: 3rem;
        filter: invert(93%) sepia(68%) saturate(659%) hue-rotate(32deg) brightness(98%) contrast(94%);
    }
    h1 {
        color: var(--accent);
        font-size: 3rem;
    }
}

/* Tables */
app-expense-tables {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.expense-tables-ctnr {
    display: flex;
    width: 90%;
    gap: 2rem;
}

.table-ctnr {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--fourth);
    color: var(--text-white);
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 2rem;
}

/* Table Header */
.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: var(--text-grey);
}

.title-ctnr {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.list-count {
    background-color: var(--accent);
    color: var(--fourth);
    font-size: 1.25rem;
    padding: .25rem .85rem;
    border-radius: 100%;
}

.sort-ctnr {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 1rem;
}

#sort-options {
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    background: var(--third);
    color: #fff;
    border: 1.5px solid rgb(65, 65, 65);
    border-radius: 1rem;
    padding: .5rem 1rem;
}
/* *** */

table, th, td {
    border-collapse: collapse;
    width: 100%;
}
table {
    color: var(--text-white);
    border-radius: 2rem;
    font-size: 1.5rem;
    width: 100%;
}
tr {
    display: flex;
    justify-content: center;
    /* border-top: 1px solid rgba(221, 221, 221, 0.25); */
}
    tr:nth-child(even) { border-radius: 2rem; }
    tr:nth-child(odd) {
        background-color: var(--third);
        border-radius: 2rem;
    }
    tr:first-child {
        background-color: var(--second);
        border-bottom: 1px solid rgba(221, 221, 221, 0.25);
    }
    tr:last-child {
        background-color: var(--second);
        border-top: 1px solid rgba(221, 221, 221, 0.25);
    }
th {
    padding: 2rem;
    text-align: left; 
    border-top: 0;
    border-radius: 2rem;
}
td {
    padding: 2rem;
    text-align: left;
    display: flex; 
    align-items: center;
    gap: 1rem;
    
    img { max-width: 2rem; max-height: 2rem; }
}
.td-btns {
    justify-content: right;

    img { max-width: 2rem; max-height: 2rem; }
}

.total { color: var(--accent); }


/* Expense Summary */
.expense-summary-ctnr {
    display: flex;
    flex-direction: column;
    background-color: var(--fourth);
    width: 85%;
    gap: 2rem;
    border-radius: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

.expense-summary-hdr {
    display: flex;
    align-items: center;
    gap: 2rem;

    h2 { font-size: 2.75rem; }
}

.expense-summary-body { display: flex; }

.summary {
    flex: 1;
    display: flex;
    flex-direction: column;

    p:first-child { font-size: 3.5rem; }
    p:last-child {
        color: var(--text-grey);
        font-size: 1.5rem;
    }
}