/* You can add global styles to this file, and also import other style files */

/* FONTS */
@font-face { font-family: "Poppins-Regular"; src: url(assets/fonts/Poppins/Poppins-Regular.ttf); }
@font-face { font-family: "Poppins-Medium"; src: url(assets/fonts/Poppins/Poppins-Medium.ttf); }
@font-face { font-family: "Poppins-SemiBold"; src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf); }
@font-face { font-family: "Poppins-Bold"; src: url(assets/fonts/Poppins/Poppins-Bold.ttf); }
@font-face { font-family: "Poppins-Black"; src: url(assets/fonts/Poppins/Poppins-Black.ttf); }


/* COLOR VARS */
:root {
    --first: #0a0a0a;
    --second: #141414;
    --third: #1f1f1f;
    --fourth: #292929;
    --accent: #a2f263;
    --text-white: #ffffff;
    --text-grey: #acacac;
}


/* GLOBAL ELEMENTS */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--first);
    color: var(--text-white);
    font-family: "Poppins-Regular";
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a:link, a:visited, a:hover, a:active { text-decoration: none; }

.btn {
    display: flex;
    align-self: center;
    justify-content: center;
    background: none;
    color: var(--text-grey);
    border: 2px solid #acacac;;
    border-radius: 4rem;
    font-family: "Poppins-Medium";
    cursor: pointer;

    img {
        max-width: 2rem;
        max-height: 2rem;
        margin: 0;
        filter: invert(71%) sepia(1%) saturate(826%) hue-rotate(64deg) brightness(100%) contrast(85%);
    }
}
.btn:hover {
    color: var(--text-white);
    border: 2px solid #ffffff;;

    img { filter: invert(100%) sepia(1%) saturate(1768%) hue-rotate(247deg) brightness(119%) contrast(100%); }
}

.btn-sm { padding: .5rem 1rem; }
.btn-md { padding: .5rem 2rem; }
.btn-lg {
    padding: .5rem 2rem;
    font-size: 1.5rem;
}
.btn-color {
    color: var(--accent);
    border-color: var(--accent);
}
.btn-color:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--fourth);
    font-weight: 600;
}

.btn-icon {
    border: none;
    border-radius: 0;
    padding: 0;

    img { max-width: 2.5rem; max-height: 2.5rem; }
}
.btn-icon:hover { border: none; }

.content-ctnr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--first);
    padding: 4rem 0;

    h1 {
        color: var(--accent);
        font-size: 3rem;
    }
}